@import "tailwindcss";

@theme {
  --color-pista-50: oklch(0.982 0.018 155.826);
  --color-pista-100: oklch(0.962 0.044 156.743);
  --color-pista-200: oklch(0.925 0.084 155.995);
  --color-pista-300: oklch(0.871 0.150 154.449);
  --color-pista-400: oklch(0.792 0.209 151.711);
  --color-pista-500: oklch(0.770 0.120 134.000);
  --color-pista-600: oklch(0.627 0.194 149.214);
  --color-pista-700: oklch(0.527 0.154 150.069);
  --color-pista-800: oklch(0.448 0.119 151.328);
  --color-pista-900: oklch(0.393 0.095 152.535);
  --color-pista-950: oklch(0.266 0.065 152.934);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
